#splash{           
    
    position: absolute; 
    height: 600px;
    width: 400px;
    font-family: 'Spicy Rice';
    align-content: center;
    background-color: #22b14c;
}

#splash h1{
    margin-top: 50px;
    text-align: center;
    font-size: 60px;
    color: #88ff88;
    text-shadow: 10px 10px #145a28;
}

#splash #logo{
    text-align: center;
}

#splash #menu{
    margin: 20px 0px; 
    text-align: center;   
}

#splash #menu a{
    position: relative;
    text-decoration: none;
    text-shadow: 5px 5px #145a28;
    color: #88ff88;
    font-size: 38px;
    margin: 10px 40px;
}