#splash{           
    float: left;
    position: absolute; 
    height: 600px;
    width: 400px;
    font-family: 'Spicy Rice';
    align-content: center;
    background-color: #22b14c;
}

#splash h1{
    margin-top: 50px;
    text-align: center;
    font-size: 60px;
    color: #88ff88;
    text-shadow: 10px 10px #145a28;
}

#splash #logo{
    text-align: center;
}

#splash #menu{
    /* margin: 20px; */
    padding: 5px; 
    background-color: red;   
}

#splash #menu div{
    text-align: center;
}

#splash #menu a{
    /* float: left; */
    text-decoration: none;
    text-shadow: 5px 5px #145a28;
    color: #88ff88;
    font-size: 38px;
    /* border: 1px solid black; */
    padding: 10px 40px 10px 40px;
}